$colors: (
  hot-pink: #ff69b4,
  lime-green: #32cd32,
  bright-aqua: #00ffff,
  neon-orange: #ff9933,
  neon-yellow: #ccff00,
  fluorescent-purple: #bf00ff,
  electric-blue: #7df9ff,
);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}


body {
  background: symplr-tools.get-semantic-slot("body.background-not-real");
}

.selector {
  color: symplr-tools.get-semantic-slot(
    "tools-menu.item.background--hover",
    "primary"
  );
}

.select-with-border {
  color: tools.get-semantic-slot("body.border", "primary");
  border: 1px solid symplr-tools.get-semantic-slot("body.border", "primary");
}

.app-content {
  background-color: tools.get-semantic-slot("body.content");
  padding: tools.get-spacing("sm");
  width: fit-content;
}
